@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    background-color: #101010;
    background-size: cover;
}

a {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    color: #adb5bd;
    font-weight: bold;
}

p {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
